@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: rgb(189, 203, 233);
}

.fundo {
  border-radius: 20px;
  padding: 35px 40px;
  background: rgb(13, 19, 31);
}

.fundo header {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}

header .coluna {
  display: flex;
  align-items: center;
}

header .coluna span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 18px;
}

.volume-slider input {
  accent-color: #fff;
  outline: none;
}

.teclas-checkbox input {
  width: 60px;
  height: 30px;
  cursor: pointer;
  appearance: none;
  border-radius: 30px;
  position: relative;
  background: rgb(121, 121, 148);
}

.teclas-checkbox input::before {
  content: "";
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5%;
  border-radius: inherit;
  position: absolute;
  background: rgb(170, 165, 165);
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.teclas-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}

.piano-teclas {
  display: flex;
  margin-top: 40px;
}

.piano-teclas .key {
  cursor: pointer;
  user-select: none;
  list-style-type: none;
  color: rgb(115, 122, 122);
  position: relative;
  text-transform: uppercase;
}

.piano-teclas .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.piano-teclas .black.active {
  box-shadow: inset -5px 5px 40px rgba(255, 255, 255, 0.438);
  background: linear-gradient(to bottom #000, #434343);
}

.piano-teclas .white {
  width: 70px;
  height: 230px;
  border: 1px solid #000;
  border-radius: 8px;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-teclas .white.active {
  box-shadow: inset -10px 20px 40px rgba(0, 0, 0, 0.623);
  background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-teclas span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.piano-teclas .key.hide span {
  display: none;
}

/* Responsividade em diversas telas */

@media screen and (max-width: 815px) {
  .fundo {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header :where(h2, column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-teclas {
    margin-top: 20px;
  }
  .piano-teclas .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-teclas .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-teclas .white {
    height: 180px;
    width: 60px;
  }
}

@media screen and (max-width: 615px) {
  .piano-teclas .key:nth-child(13),
  .piano-teclas .key:nth-child(14),
  .piano-teclas .key:nth-child(15),
  .piano-teclas .key:nth-child(16),
  .piano-teclas .key:nth-child(17) {
    display: none;
  }
  .piano-teclas .white {
    width: 50px;
  }
}
